@import "tailwindcss";

@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.5s;
}

::view-transition-old(root) {
  animation: slide-out-to-left 0.5s forwards;
}

::view-transition-new(root) {
  animation: slide-in-from-right 0.5s forwards;
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #f6f6f8;
}

@theme {
  --color-primary: #1313ec;
  --color-background: #f6f6f8;
  --bg-dark: #101022;
}