@import "tailwindcss";

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background-color: #f6f6f8;
}

@theme {
  --color-primary: #1313ec;
  --color-background: #f6f6f8;
  --bg-dark: #101022;
}